.DS_Store
portal/node_modules
portal/.pnp
portal/.pnp.js
/dist

# testing
portal/coverage

# production
portal/build

# local env files
portal/.env.local
portal/.env.*.local

# Log files
portal/npm-debug.log*
portal/yarn-debug.log*
portal/yarn-error.log*
portal/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
